body{
    background-color: rgb(224, 245, 167);
    /* margin: 50px 70px 50px 90px; */
    text-decoration: brown;
}

.field{
    margin: 50px 50px 50px 50px;
    background-color:aqua;
}

.title{
    margin: 50px 50px;
}
#pic{
    margin: 0px 400px;
}

.down #container p{
    background-color: rgb(61, 14, 14);
    grid-area: initial;
    font-style: italic;
    text-decoration: aqua;
}